.booking-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.booking-container h1 {
    text-align: center;
}

.booking-container p {
    text-align: center;
}

.booking-container ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.booking-container ul li {
    margin: 5px 0;
}

.booking-container button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.booking-container button:hover {
    background-color: #0056b3;
}

.booking-container span {
    font-weight: bold;
}
