.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #495E57;
    list-style: none;
    margin: 0;
}

.nav-container li {
    margin: 0 10px;
}

.nav-container a {
    color: #EDEFEE;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.nav-container a:hover {
    background-color: #333333;
}
