.search-container {
    display: flex; /* Ensures the icon, input, and button are in a row */
    align-items: center; /* Aligns items vertically within the container */
    justify-content: flex-end;
    width: 100%; /* Takes the remaining space in the header */
}

.search-container img.icon {
    height: 32px; 
    margin-right: 8px;
    vertical-align: -10px;
}

.searchBox {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}

.searchButton {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #fcf34b;
    color: #6563ff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.searchButton:hover {
    background-color: rgba(101,99,255,0.3);
}
