.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 20px 0;
}

.search-container img.icon {
    margin-right: 10px;
}

.searchBox {
    width: 300px;
    padding: 10px;
    font-size: 1.25rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}

.searchButton {
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: #495E57;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.searchButton:hover {
    background-color: #333333;
}
