* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border: 0;
}

/* justify-content aligns a flexible container's items when the items do not use all available horizontal space (align-items for verticle) */
/* space-between distributes items evenly, first item flush with start, last item flush with end */
.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.item {
    margin: 5px;
}