.manager-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.manager-container h1, 
.manager-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.manager-container form {
    margin-bottom: 20px;
    text-align: center;
}

.manager-container button {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.manager-container button.btn-danger {
    background-color: #dc3545;
}

.manager-container button:hover {
    background-color: #0056b3;
}

.manager-container button.btn-danger:hover {
    background-color: #c82333;
}

.manager-container table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 1.25rem;
}

.manager-container table, 
.manager-container th, 
.manager-container td {
    border: 1px solid #ddd;
}

.manager-container th, 
.manager-container td {
    padding: 10px;
    text-align: left;
}

.manager-container th {
    background-color: #f4f4f4;
}

.manager-container ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.manager-container ul li {
    margin: 5px 0;
}
