.order-details-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.order-details-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.order-details-container .order-info {
    margin-bottom: 20px;
}

.order-details-container p {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.order-details-container h2 {
    margin-top: 20px;
}

.order-details-container ul {
    list-style: none;
    padding: 0;
}

.order-details-container ul li {
    margin-bottom: 10px;
}

.order-details-container form {
    margin-bottom: 20px;
    text-align: center;
}

.order-details-container button {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.order-details-container button.btn-danger {
    background-color: #dc3545;
}

.order-details-container button:hover {
    background-color: #0056b3;
}

.order-details-container button.btn-danger:hover {
    background-color: #c82333;
}
