{% extends "base.html" %}

{% load static %}

{% block title %}{{ category.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/category_details_view.css' %}">
{% endblock %}

{% block content %}
<div class="category-details-container">
    <h1>{{ category.title }}</h1>
    <h2>Menu Items in this Category</h2>
    <ul class="menu-items-list">
        {% for item in menu_items %}
            <li><a href="{% url 'menu_item_view' item.slug %}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}