{% extends "base.html" %}

{% block title %}Remove Categories{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/category_manage_view.css' %}">
{% endblock %}

{% block content %}
<div class="category-container">
    <h1>Remove Categories</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Remove Category</button>
    </form>

    <h2>Current Categories</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
            </tr>
        </thead>

        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.slug }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}