{% extends "base.html" %}

{% block title %}Manage Employees{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/employee_view.css' %}">
{% endblock %}

{% block content %}
<div class="employee-container">
    <h1>Manage Employees</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Employee</button>
    </form>

    <h2>Current Employees</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employeee.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}