<!-- Does not need <!DOCTYPE html>, {% load static %}, and other tags like <html>, <head>, and <body> because they will be included in the base.html -->
<div class="images-container">
    <img class="item" src="{% static 'images/restaurant_patio.jpg' %}" alt="Sample image" style="width: 240px; height: 180px;">
    <img class="item" src="{% static 'images/head_chef.jpg' %}" alt="Sample image" style="width: 240px; height: 180px;">
    <img class="item" src="{% static 'images/Mario_and_Adrian.jpg' %}" alt="Sample image" style="width: 240px; height: 180px;">
    <img class="item" src="{% static 'images/salad.jpg' %}" alt="Sample image" style="width: 240px; height: 180px;">
    <img class="item" src="{% static 'images/lemon_chicken_skewers.jpg' %}" alt="Sample image" style="width: 240px; height: 180px;">
    <img class="item" src="{% static 'images/salmon.jpg' %}" alt="Sample image" style="width: 240px; height: 180px;">
    <img class="item" src="{% static 'images/lemon_bars.webp' %}" alt="Sample image" style="width: 240px; height: 180px;">
    <img class="item" src="{% static 'images/lemon_sherbet.webp' %}" alt="Sample image" style="width: 240px; height: 180px;">
    <img class="item" src="{% static 'images/lemonade.webp' %}" alt="Sample image" style="width: 240px; height: 180px;">
    <img class="item" src="{% static 'images/strawberry_lemonade.webp' %}" alt="Sample image" style="width: 240px; height: 180px;">
</div>