{% extends "base.html" %}

{% load static %}

{% block title %}Little Lemon - Home{% endblock %}

{% block content %}
<section>
    <article id="hero">
        <h1 class="heading-shadow">SPECIAL OFFER</h1>
        <p>30% Off This Weekend</p>
        <a href="{% url 'booking_view' %}" class="cta">Book now</a>
    </article>
</section>

<section>
    <article class="info">
        <h2>Our New Menu</h2>
        <img src="{% static 'images/strawberry_lemonade.webp' %}" alt=""/>
        <p>Our menu consists of whatever I decide to add while coding. Usually lemony items...</p>
        <p><a href="{% url 'menu_view' %}">See our new menu</a></p>
    </article>

    <article class="info">
        <h2>Book a Table</h2>
        <img src="{% static 'images/restaurant_inside.jpg' %}" alt=""/>
        <p>Reservations preferred, but not necessary as this is a fake restaurant.</p>
        <p><a href="{% url 'booking_view' %}">Book your table now</a></p>
    </article>

    <article class="info">
        <h2>Hours of Operation</h2>
        <img src="{% static 'images/mario-and-adrian.jpg' %}" alt=""/>
        <p>The Little Lemon Restaurant is imaginarily open 7 days a week, except for public holidays.</p>
        <ul>
            <li>Mon-Fri: 11am - 9pm</li>
            <li>Sat: 11am - 10pm</li>
            <li>Sun: 12pm - 8pm</li>
        </ul>
    </article>
</section>

<section>
    {% include 'flexbox3_images.html' %}
</section>
{% endblock %}