{% extends "base.html" %}

{% load static %}

{% block title %}Log Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/log_details_view.css' %}">
{% endblock %}

{% block content %}
<div class="log-details-container">
    <h1>Log Details</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Log Type</th>
                <th>Time Log</th>
            </tr>
        </thead>

        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{% log.first_name %}</td>
                    <td>{% log.last_name %}</td>
                    <td>{% log.log_type %}</td>
                    <td>{% log.time_log %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}