{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/menu_view.css' %}">
{% endblock %}

{% block content %}
<div class="menu-container">
    <h1>Menu</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Menu Item</button>
    </form>

    <h2>Current Menu</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            {% for item in menu_items %}
                <tr>
                    <td><a href="{% url 'menu_item_detail_view' item.slug %}">{{ item.title }}</a></td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}